body {
    color: #333333;
    padding:50px 0px 50px 0px;
}

h1 {
  color: #336699;
  background-color: #fffff;
  font-size: 1.0em;
  padding:50px 10px 0px 0px;
}


h2 {
  color: #336699;
  background-color: #fffff;
  font-size: 0.75em;
  padding:50px 10px 0px 0px;
}



h5 {
  color: #336699;
  background-color: #fffff;
  font-size: 1.5em;
  left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

table, th {
  border-collapse:collapse;border-spacing:0;}
td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:5px 5px;word-break:normal;}
  
pre code.r {
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
}

pre.r {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
}


pre code  {
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

pre {
    background-color: #fff;
    font-family: Arial, Sans-Serif;
    font-size: 13px;
}

 